<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Foundation Template | Blog</title>
        <meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more."/>
        <meta name="author" content="ZURB, inc. ZURB network also includes zurb.com"/>
        <meta name="copyright" content="ZURB, inc. Copyright (c) 2015"/>
        <link rel="stylesheet" href="{{ base_url() }}/components/foundation/css/foundation.min.css"/>
        <script src="{{ base_url() }}/components/foundation/js/vendor/modernizr.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
     
        <div class="row">
            <div class="large-12 columns">
                <h1>Blog <small>This is my blog. It's awesome.</small></h1>
                <hr/>
            </div>
        </div>
         
         
        <div class="row">
         
        <div class="large-9 columns" role="content">
        {% block content %}{% endblock content %}
        </div>
         
         
        <aside class="large-3 columns">
            <h5>Categories</h5>
            <ul class="side-nav">
                <li><a href="#">News</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Fun</a></li>
                <li><a href="#">Weasels</a></li>
            </ul>
        </aside>
         
        </div>
         
         
        <footer class="row">
        <div class="large-12 columns">
        <hr/>
        <div class="row">
        <div class="large-6 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
        <ul class="inline-list right">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        </ul>
        </div>
        </div>
        </div>
        </footer>
        <script>
          document.write('<script src=js/vendor/' +
          ('__proto__' in {} ? 'zepto' : 'jquery') +
          '.js><\/script>')
          </script>
        <script src="{{ base_url() }}/components/foundation/js/vendor/jquery.js"></script>
        <script src="{{ base_url() }}/components/foundation/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
          </script>
        <script src="{{ base_url() }}/components/foundation/js/templates/jquery.js"></script>
        <script src="{{ base_url() }}/components/foundation/js/templates/foundation.js"></script>
        <script>
              $(document).foundation();

              var doc = document.documentElement;
              doc.setAttribute('data-useragent', navigator.userAgent);
        </script>
    </body>
</html>